<p style="color: green"><%= notice %></p>


<% like_c= current_user.like_comments.find_by(comment: @comment) %>

<div class="card ">

<div id="generale" class="row justify-content-center">

<div id="foto_e_nome" class="col-sm-2">
<div id="foto" class="row w-50" >

<% if @user.immagine_profilo.nil? %>
<img src="/images.jpeg" alt="avatar" width="45" height="45" />

<% else %>
<img src="data:image/png;base64,<%= @user.immagine_profilo %>" alt="avatar" width="45" height="45" />
<% end %>
</div>
<div id="username" class="row">
<p class="small fw-lighter" style="margin-top:10%"><%= @user.username %></p>
</div>
</div>

<div id="testo" class="col-sm-5 h-100">
<div class="card shadow-0 border " style="background-color: #f0f2f5;">
<h6 class="fst-italic" style="padding-bottom:12%; text-align:center"> <%= @comment.testo %> </h6>
</div>
</div>


<div id="like_e_num" class="col-sm-1">
<div id="like" class="row">
<% if like_c.nil? %>
<form action="/like_comments" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="like_comment[comment_id]" value="<%= @comment.id %>">
<button type="submit" style="background:none; border:none; padding:0" >
<i class="bi bi-hand-thumbs-up-fill" style="font-size:150%;">  </i>
</button>
</form>
<% else %>
<form action="<%= like_comment_path(like_c) %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="_method" value="DELETE">
<button type="submit" style="background:none; border:none; padding:0" >
<i class="bi bi-hand-thumbs-down-fill" style="font-size:150%">  </i>
</button>
</form>
<% end %> 
</div>
<div id="num_l" class="row">
<p class="small text-muted"><%= @comment.like_comments.count %> </p>
</div>
</div>

<div id="segna_e_num" class="col-sm-1">
<div id="segnala" class="row">
<% if current_user.segnala_cs.find_by(comment: @comment).nil? %>
<form action="/segnala_cs" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="segnala_c[comment_id]" value="<%= @comment.id %>">
<button type="submit" style="background:none; border:none; padding:0" >
<i class="bi bi-exclamation-triangle-fill" style="font-size:150%;">  </i>
</button>
</form>
<% else %>

<div class="form">
<button enable=false style="background:none; border:none; padding:0" >
<i class="bi bi-exclamation-triangle-fill" style="font-size:150%;">  </i>
</button>
</div>

<% end %>
</div>
<div id="num_s" class="row">
<p class="small text-muted"><%= @comment.segnala_cs.count %>  </p>
</div>
</div>


<% if (current_user.id==@comment.user_id || current_user.role=='admin') %>

<div id="links" class="col-sm-1" >
<%= link_to "modifica", edit_comment_path(@comment),class: "btn btn-primary" %>
</div>
<div id="links" class="col-sm-1" >
<%= button_to "elimina", @comment, method: :delete, class: "btn btn-danger"  %>
</div>  
<% end %>
</div>
</div>





