<p style="color: green"><%= notice %></p>

<% if !@events.present? && !@events2.present? then %>
  <div class="d-flex justify-content-center align-items-baseline mt-1 mb-2 row">
    <h5 class="col-sm-6 d-flex justify-content-center"> Nessun risultato trovato! </h5><div class="w-100"></div>
    <img class="col-sm-6" src="/assets/237-536x354.jpg" alt="no results">
  </div>
<%end%>

<% if @organizer.present? then %>
  <div class="container mt-4 mb-4">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card card-event p-3 py-4">

          <div class="mt-1 mb-2 text-center">
            <h4> <%= @organizer %> </h4>
            <h5><i class="fa-solid fa-list"></i> Eventi: <%= @total_events %></h5>
            <h5><i class="fa-solid fa-user-group"></i> Partecipanti: <%= @total_partecipants %></h5>
            <h5><i class="fa-solid fa-thumbs-up"></i> Like: <%= @total_likes %></h5>
          </div>

        </div>
      </div>
    </div>
  </div>
<%end%>

<div id="events" class="h-5">
  <%# se la ricerca ha almeno un risultato %>
  <% if @events2.present? %>
    <% @events2.each do |event| %>

      <div class="row" style="padding-left:2em; padding-right:2em; padding-top:1em; padding-bottom:1em; max-height: 5%">
        <div class="col-sm-12">
          <div class="card card-event">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <% event['images'].each do |image| %>
                    <% if image['ratio'].to_s == "16_9" && image['width'].to_i>1000 then %>
                      <img src="<%= image['url'].to_s %>" alt="<%= image['url'].to_s%>" class="img-fluid"> <%# event['images'][X]['url'] %>
                      <%break%>
                    <%end%>
                  <%end%>
                </div>
                
                <div class="col">
                  <h5 class="card-title"> <%= event['name'] %> </h5>

                  <p class="card-text">
                    Date: <%= Date::strptime(event['dates']['start']['localDate'], '%Y-%m-%d').strftime('%d/%m/%Y') + " - " + event['dates']['start']['localTime'][0...-3]%>, timezone: <%= event['dates']['timezone'].to_s %>
                  </p>
                  <p class="card-text">
                    Category: <%= event['classifications'][0]['segment']['name'] + ", " + event['classifications'][0]['genre']['name'] %>
                  </p>
                  <% if event['priceRanges'].present? %>
                    <p class="card-text">
                      Price range:  <%= event['priceRanges'][0]['min'].to_s+event['priceRanges'][0]['currency'] %> - <%= event['priceRanges'][0]['max'].to_s+event['priceRanges'][0]['currency'] %>
                    </p>
                  <%end%>
                  <p class="card-text">
                    Location: <%= event['_embedded']['venues'][0]['city']['name'] %>, <%= event['_embedded']['venues'][0]['address']['line1'] %>
                  </p>

                  <a href="<%= event_path(event['id']) %>" class="btn btn-primary">apri l'evento</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>
</div>

<div id="events" class="h-5">
  <%# se la ricerca ha almeno un risultato %>
  <% if @events.present? %>
    <% @events.each do |event| %>

      <div class="row" style="padding-left:2em; padding-right:2em; padding-top:1em; padding-bottom:1em; max-height: 5%">
        <div class="col-sm-12">
          <div class="card card-event">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <% latlong_img = event['location'][0].to_s + "," + event['location'][1].to_s %>
                  <img src="https://maps.geoapify.com/v1/staticmap?style=osm-bright&width=640&height=360&center=lonlat:<%=latlong_img%>&zoom=11.7625&marker=lonlat:<%=latlong_img%>;type:awesome;color:%23bb3f73;size:x-large;icon:glass-martini&apiKey=<%=Rails.application.credentials[:geoapify_api_key]%>" alt="map event" class="img-fluid"/>
                </div>
                
                <div class="col">
                  <h5 class="card-title"> <%= event['title'] %> </h5>
                  
                  <p class="card-text">
                    Date: <%= Date::strptime(event['start'], '%Y-%m-%dT%H:%M:%SZ').strftime('%d/%m/%Y') %>
                    <% if event['timezone'].present? %>, timezone: <%= event['timezone'].to_s %> <%end%>
                  </p>
                  <p class="card-text">
                    <div>Category: <%= event['category'].capitalize() %></div>
                    <div>
                      Labels: 
                      <% event['labels'].each do |label| %>
                        <%= label.capitalize() + " " %> 
                      <%end%>
                    </div>
                  </p>
                  <p class="card-text">
                    <% location = Geocoder.search(event['location'][1].to_s + ", " + event['location'][0].to_s).first %>
                    Location: <%= location.city %>, <%= location.street %>
                  </p>
                  <% if event['description']!= "" %>
                    <p class="card-text">
                      Description: <%= event['description'] %>
                    </p>
                  <%end%>

                  <a href="<%= event_path(event['id']) %>" class="btn btn-primary">apri l'evento</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>
</div>

<style>
  :root {
    --background-color: #f8f9fa; /* #00838F */
  }

  body {
    background-color: var(--background-color);
  }

  .card-event {
    box-shadow: 0em 0em 1em rgba(0,0,0,0.5)
  }
</style>