<div id="<%= dom_id event %>">
  <p>
    <strong>Event:</strong>
    <%= event.event_id %>
  </p>

  <p>
    <strong>Organizer:</strong>
    <%= event.organizer_id %>
  </p>

  <p>
    <strong>Coordinates:</strong>
    <%= event.coordinates %>
  </p>

  <p>
    <a target="_blank" href="https://www.google.it/maps/search/Hotels/@<%= event.coordinates %>,17z/data=!3m1!4b1">Visualizza Hotel nelle vicinanze</a>
  </p>

</div>
