<p style="color: green"><%= notice %></p>

<%= render "filters", event: @event %>

<% if @cerco.to_s != "" %>
  <div class="d-flex justify-content-center align-items-baseline mt-1 mb-2">
    <h6 style="margin-right: 0.5em">Results for: </h6><h5><%= @cerco%></h5>
  </div>
<%end%>

<div id="events" class="h-5">
  <%# se la ricerca ha almeno un risultato %>
  <% if @events.present? %>
    <% @events.each do |event| %>

      <div class="row" style="padding-left:2em; padding-right:2em; padding-top:1em; padding-bottom:1em; max-height: 5%">
        <div class="col-sm-12">
          <div class="card card-event">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <img src="/assets/237-536x354.jpg" alt="Card image cap" class="img-fluid">
                </div>
                
                <div class="col">
                  <h5 class="card-title"> <%= event['title'] %> </h5>
                  <p class="card-text">Lorem Ipsum</p>
                  <a href="<%= event_path(event['id']) %>" class="btn btn-primary">apri l'evento (predicthq)</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>
</div>

<div id="events" class="h-5">
  <%# se la ricerca ha almeno un risultato %>
  <% if @events2.present? %>
    <% @events2.each do |event| %>

      <div class="row" style="padding-left:2em; padding-right:2em; padding-top:1em; padding-bottom:1em; max-height: 5%">
        <div class="col-sm-12">
          <div class="card card-event">
            <div class="card-body">
              <div class="row">
                <div class="col-3">
                  <img src="/assets/1084-536x354-grayscale.jpg" alt="Card image cap" class="img-fluid">
                </div>
                
                <div class="col">
                  <h5 class="card-title"> <%= event['name'] %> </h5>
                  <p class="card-text">Lorem Ipsum</p>
                  <a href="<%= event_path(event['id']) %>" class="btn btn-primary">apri l'evento</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>
</div>



<style>
  :root {
    --background-color: #f8f9fa; /* #00838F */
  }

  body {
    background-color: var(--background-color);
  }

  .card-event {
    box-shadow: 0em 0em 1em rgba(0,0,0,0.5)
  }
</style>