
<% content_for :head do %>
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<% end %>

<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= render @event %>

<div id="event_comments">



<form id="form_create" action="<%= event_comments_path(@event) %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="_method" value="CREATE">
<textarea name="comment[testo]" id="comment_testo" placeholder="scrivi un commento..." class=" h6 fst-italic" style="background-color: #f0f2f5; text-align:center" > 
</textarea>
</form>

<button form="form_create" type="submit" onclick="functio(1)" class="btn btn-primary" style=" text-align:center" >commenta</button>




  <% @event.comments.each do |comment| %>

    
    <%= render 'comments/comment', event: @event, comment: comment, user: User.find(comment.user_id) %>

  <% end %>
</div>


<script>

document.getElementById('comment_testo').value='';


function functio(n){

document.location.reload(false);
}

document.addEventListener("DOMContentLoaded", function(event) {  
            var scrollpos = localStorage.getItem('scrollpos'); 
            if (scrollpos) window.scrollTo(0, scrollpos); 
        }); 

        window.onbeforeunload = function(e) { 
            localStorage.setItem('scrollpos', window.scrollY); 
        };


</script>

<style>
 body {
    background-color: #f8f9fa;
  }

  .card-event {
    box-shadow: 0em 0em 1em rgba(0,0,0,0.5)
  }

  .btn-secondary,
  .btn-secondary:focus,
  .btn-secondary:active {
      color: #fff;
      background-color: #00838F !important;
      border-color: #00838F !important;
      box-shadow: none;
  }

</style>
